body{
    background-color:brown;
}

.upload-file {
    text-align: center;
    padding: 20px;
    margin: 2%;
    font-size: 1.5rem;
    border: 1px ridge grey;
    box-shadow: 5px 10px gainsboro;
    
}

.url_box {
    width: 50%;
    height: 50%;
}

.field, .btn {
    font-size: 1rem;
}