<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summerify</title>
    <link rel="stylesheet" href="static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Alice&display=swap" rel="stylesheet"

</head>

<body>
    <H1>SUMMERIFY: A DOCUMENT SUMMARIZER</H1>
    <div class="upload">
        <form method="POST">
            <p class="field">Enter URL (PDF or Article) : </p>
            <div class="container">
            <input class="url_box" type="text" name="url" id ="url">  
            <button type = "submit" id = "Submit">Submit</button>
        </div>
        </form>
        </div>
</body>
</html>
