<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summerify</title>

    <style>
        .upload-file {
            text-align: center;
            padding: 20px;
            margin: 2%;
            font-size: 1.5rem;
            border: 1px ridge grey;
            box-shadow: 5px 10px gainsboro;
            
        }

        .url_box {
            width: 50%;
            height: 50%;
        }

        .field, .btn {
            font-size: 1rem;
        }
        
    </style>
</head>

<body>
    <div class="upload-file">
        <form method="POST">
            <p class="field">Enter URL: </p>
            <input class="url_box" type="text" name="url" id ="url">  
            <p class="btn"><input type = "submit" id = "Submit" /></p>
    </div>
</body>
</html>
